Entry List
<a ui-sref="home.entryNew">Post Cool</a>
  <div class="row">
  <div class="col s12 m6" ng-repeat="entry in entryListVm.entries">
      <div class="card {{entryListVm.voteColor(entry.votes)}}">
        <div class="card-image">
          <img ng-src="{{entry.image}}">
          <span class="card-title">{{entry.description}}</span>
        </div>
        <div class="card-content">
          <p>Votes: {{entry.votes}}</p>
        </div>
        <div class="card-action">
          <a ui-sref="home.viewEntry({id: entry._id})">Peep the Cool</a>
          <a href="" ng-click="entryListVm.destroy(entry)">Destroy the Cool</a>
          <a href="" ng-click="entryListVm.(entry)">Hype it up</a>
        </div>
      </div>
    </div>
  </div>
</div>
