Entry List Template
<a ui-sref="home.entryNew">Post Cool</a>
<!-- <div ng-repeat="entry in entryListVm.entries">
  <p><img ng-src="{{entry.image}}" alt="image not displaying"></p>
  <p>{{entry.description}} </p>
  <p>{{entry.votes}} </p>
  <a ui-sref="home.viewEntry({id: entry._id})">See this Post</a>
  <a href="" ng-click="entryListVm.destroy(entry)">Not Cool.</a>
  <hr> -->
  <div class="row" ng-repeat="entry in entryListVm.entries">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img ng-src="{{entry.image}}">
              <span class="card-title">{{entry.description}}</span>
            </div>
            <div class="card-content">
              <p>{{entry.votes}}</p>
            </div>
            <div class="card-action">
              <a ui-sref="home.viewEntry({id: entry._id})">Check it out</a>
            </div>
          </div>
        </div>
      </div>
</div>
